@charset "UTF-8";
html {
    font-size: 16px;
}
.shutter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background: #1e1e1e;
    animation:byeShutter 2.5s forwards;
}
.shutter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}
@keyframes byeShutter{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen{
    0%{
        width: 0;
        height: 0.5em;
        background-color: #01e3f3;
    }
    10%{
        width: 0;
        height: 0.5em;
        background-color: #10ca6d;
    }
    20%{
        width: 0;
        height: 0.5em;
        background-color: #03009b;
    }
    30%{
        width: 0;
        height: 0.5em;
        background-color: #ff5e00;
    }
    40%{
        width: 0;
        height: 0.5em;
        background-color: #b4f500;
    }
    50%{
        width: 100%;
        height: 0.5em;
        background-color: #11aaf1;
    }
    90%{
        width: 100%;
        height: 100%;
        background-color: rgba(76, 163, 163, 0.582);
    }
    100%{
        width: 100%;
        height: 100%;
        background-color: rgba(76, 163, 163, 0.582);
    }
}
body{
    margin:0;
    line-height: normal;
        background-image: url(../img/2021040622252425.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:480px){
    body{
        background-position: 75% 0%;
        background-size: auto 700px;
    }
}
p{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 8px;
    color:rgb(255, 0, 0);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.wrapper {
    position:relative;
    max-width: 100vw;
    min-height:100vh;
    margin: 0;
    padding-bottom: 23px;
    text-align: center;
}
#btn1{
    position: relative;
    border-radius: 50%;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size:40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,0.65);
    background: linear-gradient(#00fac4 0%, #afeeee 100%);
    box-shadow: 0 10px 0 grey;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    }

    #btn1:hover{
        background:linear-gradient(#fcf803 0%,pink 100%);
    }
    #btn1:active{
    position: relative;
    top:5px;
    left: 5px;
    box-shadow: 0 5px 0 grey;
}

    footer p{
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding:1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background-color: rgba(1, 24, 31, 0.7);
}